{% extends "base.html" %}
{% block content %}

<section class="tools-section">
    <h2 class="section-title">All PDF Tools</h2>

    <div class="tools-grid">

        <a href="{{ url_for('png_to_pdf') }}" class="tool-card"><h3>PNG to PDF</h3></a>
        <a href="{{ url_for('jpg_to_pdf') }}" class="tool-card"><h3>JPG to PDF</h3></a>
        <a href="{{ url_for('pdf_to_word') }}" class="tool-card"><h3>PDF to Word</h3></a>
        <a href="{{ url_for('word_to_pdf') }}" class="tool-card"><h3>Word to PDF</h3></a>
        <a href="{{ url_for('pdf_to_jpg') }}" class="tool-card"><h3>PDF to JPG</h3></a>
        <a href="{{ url_for('merge_pdf') }}" class="tool-card"><h3>Merge PDF</h3></a>
        <a href="{{ url_for('split_pdf') }}" class="tool-card"><h3>Split PDF</h3></a>
        <a href="{{ url_for('compress_pdf') }}" class="tool-card"><h3>Compress PDF</h3></a>
        <a href="{{ url_for('rotate_pdf') }}" class="tool-card"><h3>Rotate PDF</h3></a>
        <a href="{{ url_for('unlock_pdf') }}" class="tool-card"><h3>Unlock PDF</h3></a>
        <a href="{{ url_for('protect_pdf') }}" class="tool-card"><h3>Protect PDF</h3></a>
        <a href="{{ url_for('resize_pdf') }}" class="tool-card"><h3>Resize PDF</h3></a>

    </div>
</section>

{% endblock %}
