{% extends "base.html" %}
{% block content %}

<section class="tools-section">
    <h2 class="section-title">PNG to PDF</h2>
    <p>Convert your PNG images into PDF format easily.</p>

    <form action="{{ url_for('png_to_pdf_action') }}"
          method="POST"
          enctype="multipart/form-data"
          style="margin-top:20px;">

        <input type="file" name="file" required>
        <br><br>

        <button type="submit" class="btn">Convert to PDF</button>

    </form>
</section>

{% endblock %}
